[user]
	email = kaashif@kaashif.co.uk
	name = Kaashif Hymabaccus
	signingkey = 3E810B04
[commit]
	gpgsign = false
[gpg]
	program = gpg
[core]
	excludesfile = /home/kaashif/.gitignore_global
	autocrlf = false
[sendemail]
	smtpuser = kaashif@kaashif.co.uk
	smtpserver = smtp.zoho.com
	smtpencryption = tls
	smtpserverport = 587
	annotate = true

